.bar-graphic__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-graphic__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #575757;
  border-radius: 1px;
  background-color: #00ff95;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar-graphic__fill {
  background-color: #001334;
  width: 100%;
  transition: all 0.3s ease-out;
}

.bar-graphic__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}